name: Auto Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      # Test aşamasını şimdilik kaldıralım
      # - name: Run tests
      #   run: |
      #     python -m pytest
          
      - name: Deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "Auto deploy" || echo "No changes to commit"
          git push 

      - name: Add requirements.txt
        run: |
          git add requirements.txt
          git commit -m "Add requirements.txt file"
          git remote set-url origin https://acaksan:${{ secrets.GITHUB_TOKEN }}@github.com/acaksan/Wolwox-Entegrasyon-Deneme.git
          git push origin main 